.ip-information{
    background:#ffffff;
    border-radius: 15px;
    width:calc(100% - 50px);
    max-width:500px;
    margin:-150px auto 0;
    padding:25px 10px;
    display:flex;
    align-items:stretch;
    position:absolute;
    flex-wrap: wrap;
    z-index: 5000;
    box-shadow: 0px ​3px 6px -1px rgba(0, 0, 0, 0.1);
    left: 50%;
    // top:0;
    transform: translate(-50%, 0px);
}

@media(min-width: 1200px) {
    .ip-information{
        margin:-80px auto 0;
        max-width:1100px;
        padding:40px 30px;
    }
}